<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="First name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Last name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="New password" formControlName="password">
    </mat-form-field>

    <div formGroupName="birthday">

        <mat-form-field appearance="fill">
            <mat-label>Month</mat-label>
            <mat-select formControlName="month">
                <mat-option></mat-option>
                <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <mat-select formControlName="date">
                <mat-option></mat-option>
                <mat-option *ngFor="let date of dates" [value]="date">{{date}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Year</mat-label>
            <mat-select formControlName="year">
                <mat-option></mat-option>
                <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <mat-radio-group formControlName="gender" aria-label="Select an option">
        <mat-radio-button *ngFor="let gender_ of genders" [value]="gender_">{{gender_}}</mat-radio-button>
    </mat-radio-group>

    <div class="example-button-row">
        <button mat-raised-button type="submit">Sign Up</button>
    </div>
</form>