
.login-box {
    width: 350px;
    height: 300px;
    border: black;
    position: relative;
    left: 62%;
    top: 100px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}

.logo-box {
    width: 600px;
    height: 100px;
}